.custom-toolbar {
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.toolbar-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #ffffff;
}

.spacer {
  flex: 1 1 auto;
}
.toolbar-link {
  display: flex;
  align-items: center;
  margin-left: 15px;
  color: white;
  text-decoration: none;
  font-weight: 500;
   font-size: 0.9rem;
  transition: color 0.3s, transform 0.2s;
}

.toolbar-link mat-icon {
  margin-right: 3px;
}

.toolbar-link:hover {
  color: #ffeb3b;
  transform: translateY(-2px);
}